
.slider {
  width: 95vw;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  margin: 70px 0;
}

.track {
  display: flex;
  will-change: transform;
  gap: 70px;
}

.slide {
  min-width: 100vw;
  /* height: 300px;  */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LEFT SHADOW */
.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 100%;
  pointer-events: none;
  z-index: 2;
  background: linear-gradient(
    to right,
    white,
    rgba(255, 255, 255, 0)
  );
}

/* RIGHT SHADOW */
.slider::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 100%;
  pointer-events: none;
  z-index: 2;
  background: linear-gradient(
    to left,
    white,
    rgba(255, 255, 255, 0)
  );
}
