@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');  */
/* @theme{
    --font-clauson:  'Space Grotesk', 'sans-serif';
} */
