/* Infinite scroll animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Default speed (desktop) */
.animate-scroll-oppo {
  animation: scroll 30s linear infinite reverse;
}

/* Tablet speed */
@media (max-width: 1024px) {
  .animate-scroll {
    animation-duration: 40s;
  }
}

/* Mobile speed */
@media (max-width: 640px) {
  .animate-scroll {
    animation-duration: 50s;
  }
}